.header {
  display: flex;
  align-items: center;
  gap: var(--ant-margin);
}

.nav {
  flex: 1;
  min-width: 0;
}

.account {
  color: var(--ant-color-text-light-solid);
}

.onDark {
  color: var(--ant-color-text-light-solid);
}
