.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--ant-app-statistic-card-min-width), 1fr)
  );
  gap: var(--ant-margin);
}

.counts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ant-margin-xs) var(--ant-margin-lg);
}
